.song-detail__container {
    .left-contents {
        .title-box {
            color: gray;
        }
        .song-container {
            padding-top: 5px;
            background: #d5d5d5;
            .title-actions {
                position: relative;
                width: 300px;
                padding: 10px 20px;
                .icon-box {
                    display: flex;
                    margin-top: 20px;
                    .icon {
                        width: 25px;
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
                .played {
                    position: absolute;
                    font-size: 10px;
                    color: gray;
                    bottom: 0;
                }
            }
            .song-image {
                display: block;
                width: 220px;
                height: 220px;
                object-fit: cover;
                border-radius: 100%;
                margin: 20px auto;
                padding: 20px;
                background: #00704a;
                animation: rotate 10s linear infinite;
            }
            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
            .rhap_main {
                .rhap_progress-indicator {
                    background: #00704a;
                }
                .iconify--mdi {
                    color: #00704a;
                }
                .rhap_volume-indicator {
                    background: #00704a;
                }
            }
        }
        .title-box-key {
            color: #00704a;
        }
        .recomment {
            padding-right: 20px;
            padding-left: 0;
            .box-left-album {
                position: relative;
                display: inline-block;
                overflow: hidden;
                transition: 0.5s;
                .album-image {
                    display: block;
                    width: 100%;
                    transition: opacity 0.5s ease;
                }

                .play-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50%; // Adjust the size of the play icon
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    pointer-events: none;

                    .play-icon-image {
                        width: 100%;
                    }
                }

                &:hover {
                    .album-image {
                        opacity: 0.5;
                    }

                    .play-icon {
                        opacity: 1;
                    }
                }
            }
            .box-left-album:hover {
                background: #222222;
            }
            .info_album {
                h3 {
                    margin: 0;
                }
                p {
                    color: grey;
                    font-size: small;
                }
                p:hover {
                    color: #00704a;
                }
            }
            .name_song {
                font-size: 15px;
                transition: 500ms;
            }
            .name_song:hover {
                color: #00704a;
            }
        }
        .cmt-container {
            .cmt-contents {
                background: rgba(0, 112, 74, 0.13);
                padding: 20px;
                margin-bottom: 20px;
                .cmt-content {
                    margin-bottom: 25px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .avatar-cmt {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 100%;
                        border: 3px solid #00704a;
                        margin-right: 10px;
                    }
                    .user-cmt {
                        p {
                            margin-bottom: 5px;
                        }
                        .cmt {
                            font-size: small;
                            line-height: normal;
                        }
                    }
                }
            }
            .pagination {
                justify-content: center;
                .page-link {
                    color: #00704a;
                }
            }
        }
    }
    .right-contents {
        .title-next {
            font-size: 16px;
            color: #00704a;
        }
        .list-song-container {
            .list-song {
                .icon-list {
                    width: 20px;
                }
                .task-music {
                    width: 100%;
                    padding-left: 10px;
                    &:hover {
                        background: #e5e5e5;
                    }
                    &:hover .song-title {
                        color: #00704a;
                    }
                }
            }
        }
    }
}
