.user__detail-container{
    .top-contents{
        .background{
            .background_img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}
